.camera {
  position: absolute;
  inset: 0;
  overflow: hidden;

  &-video {
    position: absolute;
    aspect-ratio: .625;
    top: 10%;
    left: 50%;
    height: 80%;
    object-fit: cover;
    transform: translateX(-50%);
    border-radius: 5vh;
    // box-shadow: 0vh 2vh 4vh rgba(0, 0, 0, .5);
    border-top: .4vh solid #b2c828;
    border-left: .4vh solid #b2c828;
    box-shadow: 1px 1px 16px 0px rgba(0, 0, 0, 0.8);
  }

  &-start {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    margin-top: 2rem;
    transform: translateX(-50%);
  }
}