@use '../../index.scss' as src;

.ui {
  position: absolute;
  inset: 0;
  pointer-events: none;

  & > * {
    pointer-events: all;
  }

  &-logo {
    position: absolute;
    bottom: 1rem;
    height: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    img {
      width: 14vh;
    }
  }

  &-level {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: src.$white;
    font-family: 'Jakarta Sans';
  }

  &-buy {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;

  }

  &-start {
    position: absolute;
    z-index: 2;
    transition: opacity .5s, visibility .5s;
    top: 37vh;
    left: calc(50% - 17vh);
    width: 13vh;
    height: 13vh;
    transform: translate(-50%, -50%);
    font-family: 'Landa Sans';
    font-size: 6.5vh;
    text-align: center;
    padding: 0;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 50%;
  }

  &-restart {
    transition: opacity .5s, visibility .5s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
  }

  &-result {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jakarta Sans';
    color: src.$lightgreen;
    transition: opacity 1s, visibility 1s;
    pointer-events: none;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .4);

    &-title {
      transition: transform .5s;
    }

    &.hidden {
      .ui-result {
        &-title {
          transition-delay: 1s;
          transform: translateY(20px);
        }
      }
    }
  }

}